<div class="main-div">
  <mat-card>
    <mat-card-content>
      <div class="logo">
        <img src="/assets/imagenes/logoCV-login-f8069995.svg" alt="image">
      </div>
      <h1>Bienvenido</h1>
      <h2>Pasarela WFM</h2>
      <p>Hola de nuevo <b>{{usuario}}</b>, ingresa tu contraseña</p>
      <form [formGroup]="formNewPassword"
        class="login-form password">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Nueva Contraseña</mat-label>
          <input [type]="hide ? 'password' : 'text'" placeholder="Digita tu nueva contraseña" formControlName="contrasena" matInput ty>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>{{mensajeHasError('contrasena')}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Confirma Contraseña</mat-label>
          <input [type]="hideConfirma ? 'password' : 'text'" placeholder="Confirma tu nueva contraseña" formControlName="contrasenaConfirma" matInput ty>
          <button mat-icon-button matSuffix (click)="hideConfirma = !hideConfirma" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hideConfirma ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>{{mensajeHasError('contrasenaConfirma')}}</mat-error>
        </mat-form-field>
        <div class="button-end">
          <button mat-raised-button color="primary" (click)="guardarPassword(formNewPassword.value)" [disabled]="formNewPassword.invalid">Guardar Contraseña</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>