mat-card {
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
}

mat-card-content{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    border:0 !important;
    width: 60%;
    align-items: center;
}

.logo img{
    width: 10%;
}