.texto{
    background: rgba(16,157,72);
    border-radius: 0px 400px 0px 0px;
    color: white;
}

button{
    width: 50%;
}

table{
    width: 100%;
}

tr{
    text-align: center;
    height: 60px;
}