<div class="main-div">
    <mat-card>
      <mat-card-content>
        <div class="logo">
        <img src="/assets/imagenes/logoCV-login-f8069995.svg" alt="image">
    </div>
        <h1>Bienvenido</h1>
        <h2>Pasarela WFM</h2>

        <p>Hola de nuevo <b>cvco.123@cruzverde.com.co</b>, ingresa tu contraseña</p>
        <form class="login-form password">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Contraseña</mat-label>
                
                <input matInput ty>
               
              </mat-form-field>

            
              <div class="button-end">
                <button mat-raised-button color="primary" routerLink="/home">Iniciar sesión</button>
            </div>
          </form>
    
      </mat-card-content>
    
    
    </mat-card>
    </div>
    
    